.note-card{
    background-color: aliceblue;
    width: 80%;
    margin: 40px auto;
}
.useflex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
}
.margin{
    margin: 10px 0;
}
.button-card{
    
}
.delete-button {
    background-color: red;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}
.delete-button:hover {
    background-color: darkred;
}
