body {
  margin: 0;
  padding: 0;
  background-color: #E3F2FD; 
}

.text-center {
  text-align: center;
}

.text-primary {
  color: #1565C0; 
}

.text-secondary {
  color: #FFEB3B; 
}

.highlight {
  background-color: #FFECB3; 
}

.text-gray {
  color: #757575;
}

.text-black {
  color: #000000;
}

.text-white {
  color: #FFFFFF;
}

.btn {
  background-color: #1565C0; 
  margin: 20px;
  min-width: 120px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-primary {
  background-color: #1565C0;
  color: #FFFFFF;
}

.btn-secondary {
  background-color: #FFEB3B; 
}

@media screen and (max-width: 400px) {
  .btn {
    margin: 10px;
    min-width: 100px;
    padding: 5px;
  }

  .buttons-container {
    background-color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  body {
    margin: 0;
    padding: 5px 10px;
  }
}
